*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box 
    ;
}
:root{
    --color1:#fff;
    --bgc:rgb(22, 170, 22);
}
body{
    width: 100%;
    height: 100vh;
    
}



.hp1 span{
    color: red;
    text-shadow: 4px 4px 4px black
    ;

}
.hp1 .span1{
    color: var(--color1);
}
.hp1 i{
    color:white;
    text-shadow: 2px 2px 4px black;

}
.hp1 i::selection{
    background-color: orangered;
}
header{
    display: flex;
    justify-content: space-between;
    background-color:var(--bgc);
    padding: 40px 40px; 
    /* box-shadow: 10px 10px 50px black; */
 
}
.navbar {
    display: flex; 
    justify-content: flex-end; 
    
    
}

ul {
    list-style-type: none; 
    display: flex; 
    
    
}
a,li {
    margin-right: 30px;
    text-decoration: none;
    color: var(--color1);
    font-weight: bold;
     text-shadow: 2px 2px 2px black;
}
a:hover {
    color: rgb(255, 0, 0);

}


section #service {
    
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    background-color: rgb(182, 169, 169);
    /* box-shadow: 10px 10px 50px black; */
    border-radius: 5px;
    
    
    
    
}
#h1{
    
    font-size: 3em;
    padding: 10px;
    margin: 10px;
    color: rgb(224, 218, 218);
    text-shadow: 2px 2px 2px black ;
}


.div1{
    margin: 20px;
    width: 22%;
    padding: 5px;
    color: var(--color1);
    text-shadow: 2px 2px 4px rgb(71, 39, 252);
    border-radius: 25px;
    background-color: gray;
 
}
button{
    color:var(--color1);
    background-color:rgb(129, 129, 124);
}
button:hover{
    background-color: red;
}
.div1::selection{
    background-color: orangered;
}
#contact,label,input{
    display: flex;
    flex-flow: column wrap;
    padding: 30px;
    background-color: rgb(70, 73, 64);
color: var(--color1);
font-size: 30px;
text-shadow: 2px 2px 2px  whitesmoke;
}
label::selection{
    background-color: orangered;
}

a input:hover{
    background-color: rgb(224, 41, 41);
}
.h1{
    
    font-size: 3em;
    padding: 10px;
    margin: 10px;
    color: rgb(224, 218, 218);
    text-shadow: 2px 2px 2px black ;
}
footer .div4{
    background-color:var(--bgc);
    margin-top: 20px;
    padding: 30px;
  text-align: center;
  text-shadow: 2px 2px 2px black;
    
    color: var(--color1);
}
.div4 pre::selection{
    background-color: orangered;
}

.div5{
    font-size: 30px;
    display: flex;
    text-shadow: 2px 2px 3px  black;
}


